body {
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    position: relative;
    display: flex;
    text-align: center;
    margin: 10px auto;
    width: 90%;
    max-width: 1200px;
    height: 30px;
}

#nav-line {
    margin: 0px;
    color: #d1dbe0;
}

#nav-title {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #1D3C50;
}

nav img {
    height: 30px;
    width: 30px;
    margin: auto 10px;
    align-items: center;
}

#nav-center {
    position: absolute;
    color: #1D3C50;
    right: 10px;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    align-self: center;
    display: flex;
}



#login,
#signin,
#logout {
    margin: 5px;
    cursor: pointer;
}

#nav-right {
    display: flex;
    /* display: none; */
    position: absolute;
    color: #1D3C50;
    right: 10px;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    align-self: center;
}

#member-center {
    cursor: pointer;
    align-content: center;
}


#notification-icon {
    background-image: url("../static/img/mail.png");
    cursor: pointer;
}

#notification-number {
    display: none;
    position: absolute;
    right: 2px;
    top: -15px;
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 500;
}

#notification-list {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 45px;
    right: 5px;
    width: 100px;
    padding: 10px;
    font-size: 12px;
    z-index: 10;
}

#notification-leave {
    position: absolute;
    background-color: #819aa8;
    border-radius: 5px;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
}

#notification-container {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 45px;
    right: 5px;
    width: 100px;
    padding: 10px;
    font-size: 12px;
    z-index: 10;
}

.notification-item {
    position: relative;
    border: 1px solid #819aa8;
    cursor: pointer;
}

.notification-content {
    padding: 10px;
    white-space: pre-line;
}

.notification-time {
    margin-right: 5px;
    text-align: right;
    color: #819aa8;
}

#login::before,
#signin::before,
#logout::before {
    content: "   ";
    cursor: pointer;
}


#login:hover,
#signin:hover,
#member-center:hover,
#logout:hover {
    color: #000;
    cursor: pointer;
}



#dialog-background {
    position: absolute;
    top: -50px;
    display: none;
    background-color: #333333;
    opacity: 0.5;
    z-index: 10;
    width: 300%;
    height: 300%;
}


#log-in-form,
#sign-in-form {
    display: none;
    color: #205781;
    border: 1px solid #37647d;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: #333333 2px 2px 10px;
    justify-content: center;
    text-align: center;
    z-index: 100;


}


#sign-in-form h2,
#log-in-form h2 {
    background-color: #37647d;
    border-radius: 19px 19px 0px 0px;
    padding: 11px;
    color: white;
    margin-top: 0px;
    text-align: center;
}

#sign-in-form label,
#log-in-form label {
    color: #1D3C50;
}

#sign-in-form input,
#log-in-form input {
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
}

#sign-in-button,
#log-in-button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: #37647d;
    border: none;
    color: #ddd;
    cursor: pointer;
}


#sign-in-button:hover,
#log-in-button:hover {
    background-color: #37647d;
    cursor: pointer;
}


#change-login,
#change-signin {
    color: #37647d;
    cursor: pointer;
    font-size: 16px;
}

#change-login:hover,
#change-signin:hover {
    opacity: 0.8;
    cursor: pointer;
}

footer {
    display: fixed;
    bottom: 0px;
    height: 30px;
    width: 100vw;
    background-color: #37647d;
    color: white;
    text-align: center;
}

hr {
    margin: 0px;
}