body {
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #333333;
}

nav {
    position: relative;
    display: flex;
    background-color: #205781;
    padding: 10px;
    text-align: center;
}



#nav-title {
    position: relative;
    display: flex;
    color: white;
    align-items: center;
    font-family: "Playwrite DK Loopet";
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;

}


nav img {
    background-color: #f9f9f9;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-right {
    color: aliceblue;
    position: absolute;
    right: 30px;
    font-weight: 200;
    font-style: normal;
    align-self: center;
}

#login,
#signin,
#logout {
    color: white;
    cursor: pointer;
}

#member-center {
    display: none;
    color: white;
    cursor: pointer;
}

#login:hover,
#signin:hover,
#member-center:hover,
#logout:hover {
    color: #ddd;
    cursor: pointer;
}



#dialog-background {
    position: fixed;
    display: none;
    background-color: #333333;
    opacity: 0.5;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}


#log-in-form,
#sign-in-form {
    display: none;
    color: #205761;
    border: 1px solid #205781;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: #333333 2px 2px 10px;
    justify-content: center;
    text-align: center;
    z-index: 100;


}


#sign-in-form h2,
#log-in-form h2 {
    background-color: #205761;
    padding: 10px;
    color: white;
    margin-top: 0px;
    text-align: center;
}

#sign-in-form label,
#log-in-form label {
    color: #205761
}

#sign-in-form input,
#log-in-form input {
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
}

#sign-in-button,
#log-in-button {
    width: 100px;
    padding: 5px;
    margin: 10px;
    background-color: #205761;
    color: #ddd;
    cursor: pointer;
    border-radius: 10px;
}


main {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}


#search-form {
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
}

#search-input {
    height: 30px;
    width: 350px;
    margin: 10px;
    padding: 5px;
    font-size: 22px;
    border-radius: 10px;
    border: 2px solid #205781;
}

#search-button {
    height: 50px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: #205781;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #205779
}

hr {
    margin: 40px auto;
}

#result-container {
    display: none;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#result-container h2 {
    color: #205781
}

.book-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    gap: 10px;
}

#bookshop-container,
#eslite-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 10px 10px;
    scrollbar-width: thin;
    background-color: #f5f5f5;
    scrollbar-color: #205781 #F5F5F5;
}


.book-item {
    position: relative;
    min-width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid #ddd;
}

.book-img {
    object-fit: contain;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}

.book-name {
    font-size: 18px;
}

.book-price {
    color: #000;
}

.book-author {
    color: #000;
}

.url-container {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 5px;
}

.book-url,
.collect-url {
    text-decoration: none;
    color: white;
    background-color: #205781;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.book-url:hover,
.collect-url:hover {
    text-decoration: none;
    color: white;
    background-color: #205761;
    border-radius: 5px;
    cursor: pointer
}

.book-url::before {
    content: " ✔ ";
}

.collect-url::before {
    content: " ❤ ";
}


footer {
    display: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #205781;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}